* {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}


.col-contribution {
    width: 1400px;
    margin: 0 auto;
}

.col-contribution .contribution-list {
    width: 100%;
    margin: 10px auto;


}

/* 公用样式 */
.clearfix::after {
    content: "";
    clear: both;
    overflow: hidden;
    display: block;
    height: 0;
}

.clerafix {
    zoom: 1;
}

.left {
    float: left;
}

.right {
    float: right;
}

a {
    text-decoration: none;
    color: #727272;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.orange {
    color: #db6959;
}

.bg-orange {
    background-color: #f99507;
    color: white;
}

/* 头部信息分页 */
.contribution-list .list-bar {
    width: 100%;
    padding: 13px;
    /* border: 1px red solid; */
    box-sizing: border-box;
    margin: 16px 0;
    background: white;
}

/* 爱心企业捐款分类 */
.contribution-list .list-class {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 40px;
    background: white;

}

.contribution-list .list-class .list-classbar li {
    display: inline-block;
    padding: 8px 0;
    /* margin-left: 10px; */
    border: 1px transparent solid;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.contribution-list .list-class .list-classbar span {
    display: inline-block;
    margin: 0 20px;
    font-weight: bold;
}

.contribution-list .list-class .list-classbar li a {
    color: black;
    font-size: 19px;
    padding: 0 25px;
}

/* 爱心企业捐款搜索 */

.list-classfind input {
    width: 230px;
    height: 43px;
    border-radius: 20px;
    ;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    outline: none;
    border: 1px #cccccc solid;
    text-indent: 20px;
}

.list-classfind button {
    width: 67px;
    height: 45px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    outline: none;
    border: 1px #cccccc solid;
    background-color: #d54831;
    color: white;
    cursor: pointer;
}

/* 列表 */
.col-contribution .list-msg {
    width: 1400px;
    box-sizing: border-box;
    /* padding: 0 4%; */
    background: white;
    margin-top: 16px;
}

.list-msg table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    width: 1400px;
    color: #727272;
    /* cursor: pointer; */
    /* margin-left: 10%; */
    padding-left: 0%;
    /* border: 1px red solid; */
}

.list-msg table tr {
    width: 1400px;
}

.list-msg table th {
    height: 90px;
}

.list-msg table td {
    width: 280px;
    height: 50px;
}

.list-msg table tbody tr:nth-child(2n) {
    background-color: #cac5c52e
}

/* 残友创业资料库 */


.business-info .pernson-info {
    width: 426px;
    height: 200px;
    background: white;
    /* margin: 10px; */
    padding: 10px;
    display: inline-block;
    margin: 8px 8px;
    cursor: pointer;
}

.business-info .pernson-info h3 {
    margin-left: 32px;
}

.business-info .pernson-info .description {
    width: 360px;
    height: 70px;
    font-size: 12px;
    font-family: '微软雅黑';
    /* text-align: justify; */
    margin: 0 auto;
    text-indent: 2em;
    line-height: 158%;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

}

.business-info .pernson-info hr {
    width: 86%;
    margin-top: 10px;
    margin-top: 12px;
    opacity: .5;
}

.person-introduction {
    margin-left: 20px;
}

.person-introduction img {
    border: 1px #BAB4B7 solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    float: left;
}

.person-introduction div {
    width: 160px;
    height: 30px;
    margin-left: 12%;

}

.person-introduction div>span {
    font-size: 13px;
}

/* 分页 */
.list-page {
    width: 605px;
    /* margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 25px; */
    margin: 40px auto;
    /* border: 1px red solid; */

}

.list-page ul {
    display: flex;
}

.list-page ul li {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 16px;
    cursor: pointer;
    /* border: 1px #727272  solid; */
    background: white;

}

.list-page ul li:first-child,
.list-page ul li:last-child {
    width: 80px;
}

.list-page ul li a {
    color: black;
}

.list-page .bg-red {
    background-color: #e6631d;
    color: white;
}

/* 残疾人就业资料库 */
.resume-info {
    text-align: center;
}

.person-resume {
    width: 324px;
    height: 380px;
    background: white;
    display: inline-block;
    margin: 10px;
}

.person-resume .head-photo {
    width: 150px;
    height: 144px;
    /* background: rgba(0, 0, 0, 0.404); */
    margin: 0 auto;
    text-align: center;
}

.person-resume hr {
    width: 86%;
    margin-top: 10px;
    margin-top: 12px;
    opacity: .5;
}

.person-resume .head-photo img {
    margin-top: 20px;
    border: 1px #BAB4B7 solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.person-resume .head-photo .name {
    margin-top: 5px;
}

.person-resume .find-job-description {
    width: 280px;
    height: 180px;
    /* border: 1px red solid; */
    margin: 5px auto;
    text-align: center;

}

.find-job-description h3 {
    /* font-weight: 200; */
    color: #313131
}
.find-job-description p{
    line-height: 1.8em;
    color: #767676
}