body {
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    overflow: hidden;
    display: block;
}

.clearfix {
    zoom: 1;
}

.right {
    float: right
}

.left {
    float: left;
}

.LoginBox {
    min-width: 1600px;
}

.LoginBox .LandingForm {
    width: 330px;
    margin-left: 70%;
    padding: 60px;
    text-align: center;
    background: white;

}

.LoginBox .LandingForm h3 {
    padding: 0;
    font-size: 26px;
    font-weight: normal;
    margin: 0 auto;
    text-align: center;
    margin: 20px auto
}

.LoginBox .LandingForm form {
    width: 100%;


}

.LoginBox .LandingForm form>input {
    display: block;
    width: 100%;
    margin-top: 26px;
    height: 46px;
    border-radius: 2px;
    /*outline: none;
    */border: 1px #cccccc solid;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.LoginBox .LandingForm form>input::placeholder {
    text-align: center;
}

.LoginBox .LandingForm form .FormValidate>* {

    margin-top: 20px;
}

.LoginBox .LandingForm form .FormValidate input {
    width: 165px;
    display: block;
    height: 46px;
    border-radius: 2px;
    /*outline: none;
    */border: 1px #cccccc solid;
    text-align: center;
    margin-right: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.LoginBox .LandingForm form .FormValidate a,
.LoginBox .LandingForm form .FormValidate div {
    margin-top: 28px;
}

.LandingForm button {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 2px;
    margin-top: 40px;
    background-color: #d54831;
    /*outline: none;
    */border: none;
    color: white;
    font-size: 2px;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.LandingForm .GetPsw {
    width: 100%;
    margin-top: 10px;
    text-align: right;
}

.LandingForm .GetPsw a,
.LandingForm .GetReg a,
.LandingForm .OtherLogins a {
    text-decoration: none;
    font-size: 15px;
    color: #888888;
}
.LandingForm .GetPsw a,
.LandingForm .GetReg a,
.LandingForm .OtherLogins a :hover{
    text-decoration: underline;
}
    
.LandingForm .GetReg {
    margin-top: 25px;
    margin-bottom: 58px;
}

.LandingForm .GetReg a {
    font-size: 16px;
    color: #365388;
}

.OtherLogins .OtherLogin {
    width: 150px;
    margin-top: 35px;
    margin-left: 92px;
    margin-bottom: 105px;
}

.OtherLogins .OtherLogin a {
    display: inline-block;
    width: 35px;
    height: 28px;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.OtherLogins .OtherLogin .QQ {
    background-image: url(../img/qq2.png);

}

.OtherLogins .OtherLogin .wecat {
    background-image: url(../img/微信.png)
}

.OtherLogins-tiele {
    display: flex;
}

.OtherLogins-tiele .title_name {
    padding: 0 20px;
}

.OtherLogins-tiele .line {
    background: linear-gradient(transparent 49%,
        #888888 49%,
        #888888 50%,
        transparent 51%);
    flex: 1;
}