.wrap {
    width: 1920px;
    height: 840px;
    margin: 0 auto;
    background: url(../img/login-bg.jpg) ;
    background-size: 100% auto;
    background-position: 10% 10%;
    padding-top: 5%
}

.login-box {
    width: 330px;
    height: 480px;
    margin-left: 68%;
    margin-top: 0%;
    background: white;
}

/* 登录切换 */

.login-box header span {
    display: inline-block;
    width: 50%;
    height: 60px;
    background: #ddd;
    color: white;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.form {
    text-align: center
}

.form>* {
    width: 250px;
    height: 46px;
    margin-top: 20px;
}

.form input {
    border: 1px #cccccc solid;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    text-indent: 1.5em;
}

.form input::placeholder {
    text-indent: 1.5em;
}

.form .check-code {
    position: relative;
}

.form .check-code input {
    width: 42%;
    height: 40px;
    float: left;
    margin-left: 15%;
}

.form .check-code img{
    position: absolute;
    top: 16%;
    right: -16%;
}
.form .check-code a{
    position: absolute;
    top: 18%;
    right: 18%;
    text-decoration: underline #3A568A;
    color: #3A568A
}

.form button{
    background: #d54831;
    border: none;
    color: white;
    font-size: 20px;
    letter-spacing: 2em;
    padding-left: 14%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.form p a:first-child{
    float: left;
    margin-left: 16%;
    color: #3A568A
}
.form p a:last-child{
    float: right;
    margin-right: -16%;
    color: #a09696
}
.form p a:hover{
    text-decoration: underline
}

.other-login{
    margin: 0px auto;
}
.other-login .title  {
    text-align: center;
}
.other-login .title *{
    display: inline-block;
    
}
.other-login .title hr{
    vertical-align: middle;
    width: 24%;
    border: 0.5px #a09696 solid;
}
.other-login .title span{
    margin: 0 1%
}

.other-login{
    text-align: center
}
.other-login a{
    display: inline-block;
    margin:4% 6%;
}
