body {
    background: #F1F1F1
}

.wrap {

    width: 1400px;
    height: 1000px;
    margin: 10px auto;
}

/* 当前位置 */
.list-bar1 {
    width: 1400px;
    height: 45px;
    line-height: 45px;
    text-align: left;
    background: white;
    color: #727272;
    text-indent: 13px;
}

.orange {
    color: #db6959;
}

/* 新闻盒子 */
.news-wrap {
    margin-top: -20px;
}
td:hover{
    cursor: pointer;
    background: rgba(53, 53, 53, 0.6)
}
.caption{
    margin-top: -50px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: white
}
.caption h3 {
    font-family: "Microsoft YaHei","Hiragino Sans GB";
    font-weight: normal;
    color: #373D41;
    /*text-overflow: -o-ellipsis-lastline;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.caption p{
    text-align: left;
    height: 74px;
    margin-top: -10px;
    text-indent: 1.5em;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.caption .read-count{
    float: right;
}
.caption .clear-float{
    display: block;
    height: 42px;;
}

/* 分页 */
.list-page {
    width: 605px;
    margin: 0px auto;
}

.list-page ul {
    text-align: center ;
}

.list-page ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 16px;
    cursor: pointer;
    background: white;

}

.list-page ul li:first-child,
.list-page ul li:last-child {
    width: 80px;
}

.list-page ul li a {
    color: black;
}

.list-page .bg-red {
    background-color: #e6631d;
    color: white;
}