.personal-wrap {
    width: 1400px;
    height: 1000px;
    display: block;
}

/* 左边内容 */
.personal-wrap .left-content {
    display: inline-block;
    width: 70%;
    height: inherit;
    background: white;
}


/* 右边内容 */
.personal-wrap .right {
    float: right;
    width: 28%;
    height: 600px;
    background: white;
}

.right .top {
    width: 100px;
    height: 130px;
    margin: 20px auto;
    text-align: center;
    position: relative;
}

/* 修改头像 */
.right .top .update-head-photo {
    display: inline-block;
    position: absolute;
    bottom: 28px;
    right: -1px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    color: white;
    cursor: pointer;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.514);
    border-radius: 0 0 100px 100px;
    -webkit-border-radius: 0 0 100px 100px;
    -moz-border-radius: 0 0 100px 100px;
    -ms-border-radius: 0 0 100px 100px;
    -o-border-radius: 0 0 100px 100px;
}

.right .top img:hover {
    cursor: pointer;
}

.right .top img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px #BAB4B7 solid;
}

.middle {
    width: 100%;
    height: 100px;
    border-bottom: 0.5px #F1F1F1 solid;
}

.middle>div {
    display: inline-block;
    margin-left: 60px;
    cursor: pointer;
    text-align: center;
}


.middle .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #F1F1F1;
    text-align: center;
    vertical-align: middle;
}

.my-message {
    position: relative;
}

.msg-count {
    position: absolute;
    top: 1%;
    right: 1%;
    display: inline-block;
    background: rgba(255, 0, 0, 0.767);
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}

.middle .icon:hover {
    background: #b6b1b185
}


.middle .icon img {
    margin-top: 8%;
}

.middle .tip {
    display: inline-block;
    font-size: 12px;
    color: #A2A2A2;
    margin-top: 2%;
}

.findJob-center,
.doWork-center,
.company-center {
    height: 60px;
    width: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    border-bottom: 0.5px #F1F1F1 solid;
}

.findJob-center:hover,
.doWork-center:hover,
.company-center:hover {
    background: rgb(245, 238, 238);
    cursor: pointer;
}

.right button {
    width: 150px;
    height: 50px;
    background: #F99507;
    color: white;
    border: none;
    margin-top: 10%;
    margin-left: 30%;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}


.col-contribution {
    width: 1400px;
    margin: 0 auto;
}

.col-contribution .contribution-list {
    width: 100%;
    margin: 10px auto;


}

/* 公用样式 */
.clearfix::after {
    content: "";
    clear: both;
    overflow: hidden;
    display: block;
    height: 0;
}

.clerafix {
    zoom: 1;
}

.left {
    float: left;
}

.right {
    float: right;
}

a {
    text-decoration: none;
    color: #727272;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.orange {
    color: #db6959;
}

.bg-orange {
    background-color: #f99507;
    color: white;
}

/* 头部信息分页 */
.contribution-list .list-bar {
    width: 100%;
    padding: 13px;
    box-sizing: border-box;
    margin: 16px 0;
    background: white;
}


form input {
    width: 260px;
    margin-left: 4px;
}

form button:hover {
    cursor: pointer;
}

/* 表单边框变圆 */
form input,
form button {
    border: 1px #e6e6e6 solid;
    height: 45px;
    margin: 10px auto;
}

/* 弹框 */
#emailCheck_form {
    width: 300px;
    height: 400px;
    border: 1px rgb(173, 167, 167) solid;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
    position: absolute;
    top: 40%;
    left: 40%;
}

#emailCheck_form span {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
}

#emailCheck_form .row {
    position: relative;
}

#emailCheck_form input[type=text] {
    padding-left: 10px;
}

#emailCheck_form .btn {
    background: orangered;
    color: white;
}

#emailCheck_form .getCode_btn {
    width: 45px;
    height: 47px;
    position: absolute;
    top: 1px;
    right: 14px;
}

/* 验证内容提示 */
label.error {
    position: absolute;
    right: 18px;
    top: 38px;
    color: #ef392b;
    font-size: 12px;
}

/* 信息 */

/* 验证内容提示 */
label.error {
    position: absolute;
    right: 18px;
    top: 15px;
    color: #ef392b;
    font-size: 12px;
}

form input,
select,
textarea {
    width: 260px;
    margin-left: 4px;
}

form button:hover {
    cursor: pointer;
}

/* 表单边框变圆 */
form input,
form button,
form select {
    border: 1px #e6e6e6 solid;
    height: 45px;
}

form textarea,
form select {
    border: 1px #e6e6e6 solid;
}

.label_form {
    width: 330px;
    margin: 25px auto;
    vertical-align: middle;
    position: relative;
}

#user-form {
    width: 980px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#user-form>div {
    width: 490px;
    height: 500px;
}

#user-form textarea {
    resize: none;
    overflow-y: auto;
}

.label_form>* {
    display: inline-block;
}

.label_form img {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: -20px;
}

.label_form .address {
    width: 130px;
    margin-left: 0;
}

/*提交按钮*/
#user-form button {
    width: 330px;
    margin-top: 20px;
    background: #F99507;
    color: white;
    font-size: 14px;
    opacity: .7;
    border-radius: 5px;
    position: absolute;
    bottom: -16%;
    right: 32%;
}


#user-form input[type=radio] {
    width: 20px;
    margin-left: 45px;
}

.radio {
    height: 75px;

}

.radio * {
    vertical-align: middle
}

.radio-txt {
    margin-left: 12px;
}

/* 修改头像弹窗 */
#update-headPhoto-window {
    width: 400px;
    height: 500px;
    border: 1px rgb(148, 144, 144) solid;
    position: absolute;
    top: 10%;
    left: 40%;
}

#update-headPhoto-window>div {
    height: 100px;
    line-height: 100px;
    text-align: center;
}

#update-headPhoto-window>div * {
    display: inline-block;
    height: 25px;
}