body {
    
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#wrap {
    width: 1400px;
    height: 800px;
    background: white;
    margin: 0 auto;
    padding-top: 60px;
   
}

.register-switch {
    width: 330px;
    height: 40px;
    margin: 0 auto;
    font-size: 16px;
}

.register-switch div {
    width: 124px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background: #F4F2F1;
    color: #A8A7A7;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.register-switch div:nth-child(1) {
    background: #D54831;
    color: white;
}

.register-switch div:nth-child(2) {
    float: right;
}

/* 验证内容提示 */
label.error {
    position: absolute;
    right: 18px;
    top: 15px;
    color: #ef392b;
    font-size: 12px;
}

form input {
    width: inherit;
    padding-left: 20px;
}

form button:hover {
    cursor: pointer;
}

.person-register {
    width: 400px;
    height: 480px;
    margin: 30px auto;
    text-align: center;
    border: 1px #d8d8d8 solid
}

/* 表单边框变圆 */
form input,
form button {
    border: 1px #e6e6e6 solid;
    height: 45px;
}

form textarea,
form select {
    border: 1px #e6e6e6 solid;
}

.lable_form {
    width: 330px;
    margin: 25px auto;
    vertical-align: middle;
    position: relative;
}

/*验证码按钮*/
.checkCode {
    position: absolute;
    width: 97px;
    height: 33px;
    background: #d0d0d063;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border-radius: 4px;
    vertical-align: baseline;
    border: 1px #a9a9a97a solid;
}

/*提交按钮*/
form button {
    width: 330px;
    margin-top: 20px;
    background: #F99507;
    color: white;
    font-size: 14px;
    opacity: .7;
    border-radius: 5px;
}

.company-register {
    width: 400px;
    height: 560px;
    text-align: center;
    margin: 30px auto;
    border: 1px #d8d8d8 solid
}